<head>
	<link rel="stylesheet" href= "../assets/stylesheets/application.css">
</head>
<body>
<div class="alert alert-danger" role="alert">
  si vous voulez contacter l'équipe
</div>
<div class="alert alert-primary" role="alert">
 Voici notre pseudo Github
</div>
<div class="alert alert-secondary" role="alert">
  danis1996
</div>
<div class="alert alert-success" role="alert">
  Francette7
</div>
</body>


