<head>
	<link rel="stylesheet" href= "../assets/stylesheets/application.css">
</head>
<body>
<h2> si vous voulez contacter l'équipe</h2>
<h3>Voici notre adresse mail:</h3>
<h1>danisetfrancette@gmail.com</h1>
</body>