<head>
	<link rel="stylesheet" href= "../assets/stylesheets/application.css">
</head>
<body>
<h2>Bienvenue dans notre "Team" </h2>
<h2>L'équipe est composé de:</h2>
<h1> Danis, Frencette et Aka </h1>
</body>